<div class="card centerCard" style="width: 90%">
  <div class="card-body">
    <h3 class="card-title">Statistics</h3>
    <h2 *ngIf="inUser">{{ inUser.name }}</h2>
    <hr>
    <!-- This is where we do a for loop to get each of our person components -->
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Sneeze Count</th>
          <th scope="col">Total Cost</th>
          <th scope="col">Percentage</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th>{{ user.name }}</th>
            <td>{{ user.count }}</td>
            <td>{{ user.count * 0.25 | currency: 'USD' }} </td>
            <td>{{ (user.count / totalSneezes) | percent }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th>{{ totalSneezes }}</th>
            <th>{{ totalCost | currency: 'USD' }}</th>
            <th>{{ moneyPerPerson | currency: 'USD' }} per person</th>
          </tr>
        </tfoot>
      </table>
</div>
