<button class="btn btn-outline-primary" (click)="openModal(template)" style="width: 200px;">Buy Kerchoo Coins (KRO)</button>

<ng-template #template>
  <div class="modal-body text-center" id="confirmation">
    <div class="modal-head">
        <h4 class="modal-title">Buy KRO Currency</h4>
    </div>
    <p></p>

    <div>
        <p>How many coins do you want to buy?</p>
        <a class="btn btn-outline-primary padding" href="https://www.paypal.me/adamchlebek" target="_blank" style="width: 200px;">50 <i class="fas fa-lira-sign"></i></a>
        <a class="btn btn-outline-primary padding" href="https://www.paypal.me/adamchlebek" target="_blank" style="width: 200px;">100 <i class="fas fa-lira-sign"></i></a>
        <a class="btn btn-outline-primary padding" href="https://www.paypal.me/adamchlebek" target="_blank" style="width: 200px;">250 <i class="fas fa-lira-sign"></i></a>
        <a class="btn btn-outline-primary padding" href="https://www.paypal.me/adamchlebek" target="_blank" style="width: 200px;">500 <i class="fas fa-lira-sign"></i></a>
        <a class="btn btn-outline-primary padding" href="https://www.paypal.me/adamchlebek" target="_blank" style="width: 200px;">1000 <i class="fas fa-lira-sign"></i></a>
    </div>

    <br>
  </div>
</ng-template>
