<div class="card-body">

  <h2 class="card-title">All Users <span class="small">Click Refresh to Update Table and Pie Chart!</span></h2>
  <hr>
  <!-- This is where we do a for loop to get each of our person components -->
  <div *ngFor="let person of users">
    <div class="card" style="width: 18rem; float: left; margin: 15px; text-align: center;">
      <div class="card-body">
        <h5 class="card-title">{{ person.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Current Count: {{ person.count }}</h6>
        <img src="{{person.image}}" class="card-img" />
        <br>
        <button type="button" (click)="openModal(template, person)" class="btn btn-light btn-circle btn-xl">🤧</button>
        <button type="button" (click)="testSneeze(person)" class="btn btn-light btn-circle btn-xl">Test</button>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-body text-center" id="confirmation">
      <p>{{ message }}</p>
      <p [hidden]="hide">Please Enter Code...</p>
      <input [hidden]="hide" id="code">
      <br>
      <button [hidden]="!hide" type="button" class="btn btn-light padding" (click)="confirm()">✔️</button>
      <button [hidden]="!hide" type="button" class="btn btn-primary padding" (click)="decline()">❌</button>
      <button [hidden]="hide" type="button" class="btn btn-light padding" (click)="checkCode(user)">📇</button>
      <button [hidden]="hide" type="button" class="btn btn-primary padding" (click)="decline()">❌</button>
    </div>
  </ng-template>
</div>

