<div class="card-body">

  <h2 class="card-title">All Users <span class="small">Click Refresh to Update Table and Pie Chart!</span></h2>
  <hr>
  <!-- This is where we do a for loop to get each of our person components -->
  <div *ngFor="let person of users">
    <div class="card" style="width: 18rem; float: left; margin: 15px; text-align: center;">
      <div class="card-body">
        <h5 class="card-title">{{ person.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Current Count: {{ person.count }}</h6>
        <button type="button" (click)="addSneeze(person)" class="btn btn-default btn-circle btn-xl">🤧</button>
      </div>
    </div>
  </div>
</div>
