<h2 style="text-align: center;">What is Sneeze.tk?</h2>
<p>
  Sneeze.tk is a website I created for the summer internship for a side project to learn Angular development. This idea started
  out as a joke because a few of the interns always sneezed so I created a sneeze fund website to track these sneezes. Based on
  how many we had, we went out to lunch near the end of the summer. If you scroll down a little bit, you will be able to see some
  of the different app modules that have been created for this project.
</p>
<p>
  This project is connected to a WebAPI that is hosted on Azure as well as a database hosted on Gearhost. I also created a Cron Job
  that ran everyday at 1:00 AM to pull the pollen index from a different WebAPI. Yes, I understand this project is very weird, but it
  was something to learn Angular.
</p>

<p>
  -Adam Chlebek
</p>

