@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

a{
  background-color: blue;
  color: white;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

.topnav{
  width: 100%;
  height: 100%;
}
