<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="padding: 15px;" class="display-4 header">
    Welcome to {{ title }}!
  </h1>
  <app-kerchoo></app-kerchoo>
  <hr>
</div>

<div class="card centerCard" style="width: 90%">
    <app-users></app-users>
</div>

<div class="card centerCard" style="width: 90%">
    <app-stats></app-stats>
</div>

<div class="card centerCard" style="width: 90%">
  <app-graphs></app-graphs>
</div>

<div class="card centerCard" style="width: 90%">
  <app-sneezes></app-sneezes>
</div>

<div class="card centerCard" style="width: 90%">
  <app-release-notes></app-release-notes>
</div>
