<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img [hidden]="text" src="../assets/banner.png" width="100%" style="padding-bottom: 20px;"/>
  <h1 [hidden]="!text" style="padding: 15px;" class="display-4 header">
    Welcome to {{ title }}!
  </h1>

  <button class="btn btn-outline-primary" (click)="toggle()" style="width: 200px;">{{ text ? 'Make Me Overwhelmed' : 'I am Overwhelmed' }}</button>
  <hr>
</div>

<div class="card centerCard" style="width: 90%">
  <app-about></app-about>
</div>

<div class="card centerCard" style="width: 90%">
    <app-users></app-users>
</div>

<div class="card centerCard" style="width: 90%">
    <app-stats></app-stats>
</div>

<div class="card centerCard" style="width: 90%">
  <app-graphs></app-graphs>
</div>

<div class="card centerCard" style="width: 90%">
  <app-sneezes></app-sneezes>
</div>

<div class="card centerCard" style="width: 90%">
  <app-release-notes></app-release-notes>
</div>
