<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="padding: 15px;" class="display-4">
    Welcome to {{ title }}!
  </h1>
  <hr>
</div>

<div class="card centerCard" style="width: 90%">
  <div class="card-body">

    <app-users></app-users>

  </div>
</div>

<div class="card centerCard" style="width: 90%">
  <div class="row">
    <div class="col-12 col-md-7">
      <app-stats></app-stats>
    </div>
    <div class="col-6 col-md-5">
      <app-pie></app-pie>
    </div>
  </div>
</div>

<div class="card centerCard" style="width: 90%">
  <!-- <app-spd></app-spd> -->
  <p style="text-align: center;">
    Sneezes Per Day Currently Under Construction!
  </p>
</div>

<footer>
  <span>Created by The Interns &copy; 2019</span>
</footer>

<router-outlet></router-outlet>
