<ngb-accordion #acc="ngbAccordion">
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <h2 class="header">Release Notes</h2>
    </ng-template>
    <ng-template ngbPanelContent>
        <h3>v0.9 - Created Sneezes vs Pollen Chart</h3>
        <hr>
        <div id="0.9">
          <ul>
            <li><strong>Created Sneezes vs Pollen Chart</strong></li>
            <li>Fixed Graph Layout</li>
            <li>New API Calls</li>
          </ul>
        </div>
        <h4>v0.8.5 - Added Banner Image</h4>
        <hr>
        <div id="0.8.5">
          <ul>
            <li><strong>Added Banner Image</strong></li>
            <li>Added last sneeze on user card</li>
            <li>Small fixes on sneezes per hour chart</li>
          </ul>
        </div>
        <h4>v0.8 - Added Sneezes Per Hour Chart</h4>
        <hr>
        <div id="0.8">
          <ul>
            <li><strong>Added Sneezes Per Hour Chart</strong></li>
            <li>Updated padding</li>
          </ul>
        </div>
        <h4>v0.7.5 - Added Sneezes Per Day Per Person Chart</h4>
        <hr>
        <div id="0.7.5">
          <ul>
            <li><strong>Added Sneezes Per Day Per Person Chart</strong></li>
            <li>Updated Dropdown menu</li>
            <li>Small Formatting Changes</li>
          </ul>
        </div>
        <h4>v0.7 - Created Sneeze Multiplier</h4>
        <hr>
        <div id="0.7">
          <ul>
            <li><strong>Created Sneeze Multiplier</strong></li>
            <li>Updated Sneeze History Table</li>
            <li>Change css Label color 🌈</li>
          </ul>
        </div>
        <h4>v0.6.5 - Added Kerchoo Coins</h4>
        <hr>
        <div id="0.6.5">
          <ul>
            <li><strong>Added Kerchoo Coins</strong></li>
            <li>Database stored code for easy change</li>
            <li>Added Buy More Kerchoo Coins Button</li>
          </ul>
        </div>
        <h4>v0.6 - Incredible UI Changes</h4>
        <hr>
        <div id="0.6">
          <ul>
            <li><strong>Incredible UI Changes</strong></li>
            <li>View old versions of cards</li>
            <li>Updated color scheme</li>
          </ul>
        </div>
        <h4>v0.5 - Added Sneezes Per Day Chart</h4>
        <hr>
        <div id="0.5">
          <ul>
            <li><strong>Added Sneezes Per Day Chart</strong></li>
            <li>Changed Order of Sneeze History</li>
            <li>Increased size of Statistics table</li>
            <li>Hide history by default</li>
          </ul>
        </div>
        <h4>v0.4.2 - Added Sneezes Per Day</h4>
        <hr>
        <div id="0.4.2">
          <ul>
            <li><strong>Added Sneezes Per Day</strong></li>
            <li>Added Date Joined on each user</li>
            <li>Small Formatting Changes</li>
          </ul>
        </div>
        <h4>v0.4.1 - Added Money Per Person</h4>
        <hr>
        <div id="0.4.1">
          <ul>
            <li><strong>Added Money Per Person</strong></li>
            <li>Updated Pie Chart Colors</li>
          </ul>
        </div>
        <h4>v0.4 - Auto-Updating Visuals</h4>
        <hr>
        <div id="0.4">
          <ul>
            <li><strong>Auto-Updating Visuals</strong></li>
            <li>Changed page help lables</li>
          </ul>
        </div>
      <h4>v0.3.6 - Updated to Sneeze.tk</h4>
      <hr>
      <div id="0.3.6">
        <ul>
          <li><strong>Updated to sneeze.tk</strong></li>
          <li>Configured redirection from old website</li>
          <li>Added HTTPS Redirection</li>
        </ul>
      </div>
      <h4>v0.3.5 - Added Release Notes Section</h4>
      <hr>
      <div id="0.3.5">
        <ul>
          <li><strong>Added Release Notes Section</strong></li>
          <li>Added Show/Hide for Sneeze History</li>
          <li>Added Percentage to Statistics</li>
        </ul>
      </div>
      <h4>v0.3 - Ability to Remove Sneezes</h4>
      <hr>
      <div id="0.3">
        <ul>
          <li><strong>Added the ability to remove sneezes</strong></li>
          <li>Reformatted dates to display cleaner</li>
          <li>Continued construction on Sneezes Per Day</li>
        </ul>
      </div>
      <h4>v0.2.5 - Updated to sneeze2019.tk</h4>
      <hr>
      <div id="0.2.5">
        <ul>
          <li><strong>Updated to sneeze2019.tk</strong></li>
          <li>HTTPS redictrection/Secure Connection</li>
          <li>New unreliable but free hosting</li>
        </ul>
      </div>
      <h4>v0.2.1 - Added Sneeze Confirmation</h4>
      <hr>
      <div id="0.2.1">
        <ul>
          <li><strong>Added Sneeze Confirmation</strong></li>
          <li>Added Profile Images</li>
          <li>Increased Security</li>
        </ul>
      </div>
      <h4>v0.1 - First Release</h4>
      <hr>
      <div id="0.1">
        <ul>
          <li><strong>First Release</strong></li>
          <li>Created Base Layout and initial Components</li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
