/* You can add global styles to this file, and also import other style files */
.centerCard{
  width: 80%;
  margin: auto;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  margin: 10px;
}
