.centerCard{
  width: 80%;
  margin: auto;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  margin: 10px;
}

footer{
  text-align: center;
  color: gray;
  font-style: italic;
  padding: 50px;
}

.small{
  font-size: small;
  text-align: center;
  color: gray;
  font-style: italic;
  padding: 50px;
}

.padding{
  margin: 10px;
}

@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

.shake {
  animation: shake 400ms ease-in-out;
}

.error{
  outline-color: red;
}

.card-img{
  width: 50px;
  height: 60px;
}

.centered{
  text-align: center;
}

.newcard{
  color: black;
}

.pointer{
  cursor: pointer;
}

.header{
  color: rgb(0, 145, 140);
}

.card-title{
  color: rgb(0, 145, 140);
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgb(54, 109, 107);
  color: white;
}

.modal-head{
  background-color: rgb(54, 109, 107);
  color: white;
}
